server:
  port: 80

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/blog_db?serverTimezone=UTC
    username: blog
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
      use-new-id-generator-mappings: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    generate-ddl: true
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp